.dropdown-second-level-content {
  display: none;
  position: relative;
  top: 0;
  left: 100%;
  z-index: 12;
}

.dropdown-first-level-content.show {
  display: block;
}
.dropdown-second-level-content.show {
  display: block;
}
.show {
  display: block;
}

.dropdown-first-level-content {
  position: absolute;
  display: none;
  z-index: 10;
}

.dropdown-item {
  background-color: white;
  color: black;
  padding: 1px;
  font-size: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.pitchzone {
  background-color: #ff5050;
  width: 100%;
  margin: 1px;
  height: 40px;
  text-align: center;
  opacity: 0.8;
  border: none;
}

.pitchzone:hover {
  opacity: 0.9;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
}

.overlay {
  position: absolute;
  top: 22%;
  left: 10%;
  width: 80% !important;
  height: 80% !important;
  opacity: 1;
}

.player-form {
  padding: 5px;
  margin: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 10px;
}

.player-avatar {
  text-align: center;
  font-size: 30px;
}

tr:hover {
  background: #f2f3ff;
  outline: none;
  cursor: pointer;
}
